*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    background-color: #111;
}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    text-align: center;
}
header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li{
    list-style: none;
    margin-left: 20px;
}
header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffffff;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card image {
    height: 250px;
    margin: 10px;
}